!!!
%html
  %head
    %title googly eye gallery - googlyey.es
  %body
    %ol{ :start => 0 }
      - GooglyEyes.eyes.each_with_index do |eye, i|
        %li
          %a{ :href => "/#{i}" }
            %img{ :src => "/images/eyes/#{eye['filename']}", :height => 80 }